@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />

<BitCard Border="borderColorKind">
    <BitStack HorizontalAlign="BitAlignment.Start">
        <BitText Typography="BitTypography.H4">bit BlazorUI</BitText>
        <BitText Typography="BitTypography.Body1">
            bit BlazorUI components are native, easy-to-customize, and ...
        </BitText>
        <BitLink Href="https://blazorui.bitplatform.dev" Target="_blank">Learn more</BitLink>
    </BitStack>
</BitCard>

@code {
    private BitColorKind borderColorKind = BitColorKind.Primary;
}